body {
  padding: 50px;
  padding-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 300px;
  height: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr {
  text-align: center;
}

img {
  width: 100px;
  height: 70px;
}